<h1 class="head-team-modal">Team 6</h1>
<ul class="team-list">
  <li class="team-name-list">
    <img src="./images/mark.png" alt="mark" width="124" />
    <h3 class="head-of-team">Mark Guerrero</h3>
    <svg class="button-icon" width="24" height="25">
      <use href="./images/symbol-defs.svg#icon-github"></use>
    </svg>
  </li>
  <li class="team-name-list">
    <img src="./images/mark.png" alt="tom" width="124" />
    <h3 class="head-of-team">Tom Ford</h3>

    <svg class="button-icon" width="24" height="25">
      <use href="./images/symbol-defs.svg#icon-github"></use>
    </svg>
  </li>
  <li class="team-name-list">
    <img src="./images/mark.png" alt="camila" width="124" />
    <h3 class="head-of-team">Camila Garcia</h3>

    <svg class="button-icon" width="24" height="25">
      <use href="./images/symbol-defs.svg#icon-github"></use>
    </svg>
  </li>
  <li class="team-name-list">
    <img src="./images/mark.png" alt="daniel" width="124" />
    <h3 class="head-of-team">Daniel Wilson</h3>

    <svg class="button-icon" width="24" height="25">
      <use href="./images/symbol-defs.svg#icon-github"></use>
    </svg>
  </li>
  <li class="team-name-list">
    <img src="./images/mark.png" alt="mark" width="124" />
    <h3 class="head-of-team">Mark Guerrero</h3>

    <svg class="button-icon" width="24" height="25">
      <use href="./images/symbol-defs.svg#icon-github"></use>
    </svg>
  </li>
  <li class="team-name-list">
    <img src="./images/mark.png" alt="mark" width="124" />
    <h3 class="head-of-team">Mark Guerrero</h3>

    <svg class="button-icon" width="24" height="25">
      <use href="./images/symbol-defs.svg#icon-github"></use>
    </svg>
  </li>
  <li class="team-name-list">
    <img src="./images/mark.png" alt="mark" width="124" />
    <h3 class="head-of-team">Mark Guerrero</h3>

    <svg class="button-icon" width="24" height="25">
      <use href="./images/symbol-defs.svg#icon-github"></use>
    </svg>
  </li>
  <li class="team-name-list">
    <img src="./images/mark.png" alt="mark" width="124" />
    <h3 class="head-of-team">Mark Guerrero</h3>

    <svg class="button-icon" width="24" height="25">
      <use href="./images/symbol-defs.svg#icon-github"></use>
    </svg>
  </li>
  <li class="team-name-list">
    <img src="./images/mark.png" alt="mark" width="124" />
    <h3 class="head-of-team">Mark Guerrero</h3>

    <svg class="button-icon" width="24" height="25">
      <use href="./images/symbol-defs.svg#icon-github"></use>
    </svg>
  </li>
  <li class="team-name-list">
    <img src="./images/mark.png" alt="mark" width="124" />
    <h3 class="head-of-team">Mark Guerrero</h3>

    <svg class="button-icon" width="24" height="25">
      <use href="./images/symbol-defs.svg#icon-github"></use>
    </svg>
  </li>
  <li class="team-name-list">
    <img src="./images/mark.png" alt="mark" width="124" />
    <h3 class="head-of-team">Mark Guerrero</h3>

    <svg class="button-icon" width="24" height="25">
      <use href="./images/symbol-defs.svg#icon-github"></use>
    </svg>
  </li>
</ul>
