<h2 class="head-team-modal">Team 6</h2>
<ul class="team-list">
  <li class="team-name-list">
    <img
      src="./images/developers/daria.jpg"
      alt="daria"
      width="124"
      height="124"
    />
    <h3 class="head-of-team">Daria Hladchenko</h3>
    <div class="wrapper-team">
      <a
        href="https://www.linkedin.com/in/daria-hladchenko-174238282/"
        class="icon-link"
        aria-label="linkedin"
        target="_blank"
        ><svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-linkedin"></use></svg
      ></a>
      <a
        href="https://github.com/DarriaGl"
        class="icon-link"
        aria-label="github"
        target="_blank"
      >
        <svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-github"></use></svg
      ></a>
    </div>
  </li>
  <li class="team-name-list">
    <img
      src="./images/developers/andrii.jpg"
      alt="andrii"
      width="124"
      height="124"
    />
    <h3 class="head-of-team">Andrii Amosov</h3>
    <div class="wrapper-team">
      <a
        href="https://www.linkedin.com/in/amosov-andrii/"
        class="icon-link"
        aria-label="linkedin"
        target="_blank"
      >
        <svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-linkedin"></use>
        </svg>
      </a>
      <a
        href="https://github.com/amosovandrey"
        class="icon-link"
        aria-label="github"
        target="_blank"
      >
        <svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </li>
  <li class="team-name-list">
    <img
      src="./images/developers/ihor.jpg"
      alt="Ihor"
      width="124"
      height="124"
    />
    <h3 class="head-of-team">Ihor Kutsenko</h3>
    <div class="wrapper-team">
      <a
        href="https://www.linkedin.com/in/kutsenko-ihor"
        class="icon-link"
        aria-label="linkedin"
        target="_blank"
      >
        <svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-linkedin"></use>
        </svg>
      </a>
      <a
        href="https://github.com/ihor-kutsenko"
        class="icon-link"
        aria-label="github"
        target="_blank"
      >
        <svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </li>
  <li class="team-name-list">
    <img
      src="./images/developers/olexandr.jpg"
      alt="olexandr"
      width="124"
      height="124"
    />
    <h3 class="head-of-team">Olexandr Yemelianov</h3>
    <div class="wrapper-team">
      <a
        href="https://www.linkedin.com/in/o-yemelianov/"
        class="icon-link"
        aria-label="linkedin"
        target="_blank"
      >
        <svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-linkedin"></use>
        </svg>
      </a>
      <a
        href="https://github.com/AleksandrYemelianov"
        class="icon-link"
        aria-label="github"
        target="_blank"
      >
        <svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </li>
  <li class="team-name-list">
    <img
      src="./images/developers/maks.jpg"
      alt="maksym"
      width="124"
      height="124"
    />
    <h3 class="head-of-team">Maksym Halushko</h3>
    <div class="wrapper-team">
      <a
        href="https://www.linkedin.com/in/maksym-halushko-804b04281"
        class="icon-link"
        aria-label="linkedin"
        target="_blank"
      >
        <svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-linkedin"></use>
        </svg>
      </a>
      <a
        href="https://github.com/Maksym1988"
        class="icon-link"
        aria-label="github"
        target="_blank"
      >
        <svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </li>
  <li class="team-name-list">
    <img
      src="./images/developers/denis.jpg"
      alt="denis"
      width="124"
      height="124"
    />
    <h3 class="head-of-team">Denis Daniv</h3>
    <div class="wrapper-team">
      <a
        href="https://de.linkedin.com/in/denis-daniv"
        class="icon-link"
        aria-label="linkedin"
        target="_blank"
      >
        <svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-linkedin"></use>
        </svg>
      </a>
      <a
        href="https://github.com/turboboyd"
        class="icon-link"
        aria-label="github"
        target="_blank"
      >
        <svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </li>
  <li class="team-name-list">
    <img
      src="./images/developers/svetlana.jpg"
      alt="svitlana"
      width="124"
      height="124"
    />
    <h3 class="head-of-team">Svitlana Liulka</h3>
    <div class="wrapper-team">
      <a
        href="https://www.linkedin.com/in/svitlana-liulka-aa5045277/"
        class="icon-link"
        aria-label="linkedin"
        target="_blank"
      >
        <svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-linkedin"></use>
        </svg>
      </a>
      <a
        href="https://github.com/Sv-L"
        class="icon-link"
        aria-label="github"
        target="_blank"
      >
        <svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </li>
  <li class="team-name-list">
    <img
      src="./images/developers/stas.jpg"
      alt="stas"
      width="124"
      height="124"
    />
    <h3 class="head-of-team">Stas Pavlenko</h3>
    <div class="wrapper-team">
      <a
        href="https://www.linkedin.com/in/stanislav-pavlenko-610b06281/"
        class="icon-link"
        aria-label="linkedin"
        target="_blank"
      >
        <svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-linkedin"></use>
        </svg>
      </a>
      <a
        href="https://github.com/StanislavPavlenko"
        class="icon-link"
        aria-label="github"
        target="_blank"
      >
        <svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </li>
  <li class="team-name-list">
    <img
      src="./images/developers/ludmila.jpg"
      alt="ludmila"
      width="124"
      height="124"
    />
    <h3 class="head-of-team">Ludmila Tabachuk</h3>
    <div class="wrapper-team">
      <a href="#" class="icon-link" aria-label="linkedin" target="_blank">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-linkedin"></use>
        </svg>
      </a>
      <a
        href="https://github.com/tabachukluda"
        class="icon-link"
        aria-label="github"
        target="_blank"
      >
        <svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </li>
  <li class="team-name-list">
    <img
      src="./images/developers/nikolay.jpg"
      alt="nikolay"
      width="124"
      height="124"
    />
    <h3 class="head-of-team">Nikolay Unku</h3>
    <div class="wrapper-team">
      <a
        href="https://www.linkedin.com/in/nickolay-unku-963493282/"
        class="icon-link"
        aria-label="linkedin"
        target="_blank"
      >
        <svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-linkedin"></use>
        </svg>
      </a>
      <a
        href="https://github.com/ReySinez"
        class="icon-link"
        aria-label="github"
        target="_blank"
      >
        <svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </li>
  <li class="team-name-list">
    <img
      src="./images/developers/dima.jpg"
      alt="dmytro"
      width="124"
      height="124"
    />
    <h3 class="head-of-team">Dmytro Liashok</h3>
    <div class="wrapper-team">
      <a
        href="https://www.linkedin.com/in/dmitriy-liashok-499074180/"
        class="icon-link"
        aria-label="linkedin"
        target="_blank"
      >
        <svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-linkedin"></use>
        </svg>
      </a>
      <a
        href="https://github.com/magister3"
        class="icon-link"
        aria-label="github"
        target="_blank"
      >
        <svg class="button-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </li>
</ul>
