<h1 class="head-team-modal">Team 6</h1>
<ul class="team-list">
  <li class="team-name-list">
    <img src="./images/mark.png" alt="daria" width="124" />
    <h3 class="head-of-team">Daria Hladchenko</h3>
    <div class="wrapper-team">
      <a href="#" class="icon-link"
        ><svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-linkedin"></use></svg
      ></a>
      <a href="#" class="icon-link">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-github"></use></svg
      ></a>
    </div>
  </li>
  <li class="team-name-list">
    <img src="./images/mark.png" alt="andrii" width="124" />
    <h3 class="head-of-team">Andrii Amosov</h3>
    <div class="wrapper-team">
      <a href="#" class="icon-link">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-linkedin"></use>
        </svg>
      </a>
      <a href="#" class="icon-link">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </li>
  <li class="team-name-list">
    <img src="./images/mark.png" alt="ihor" width="124" />
    <h3 class="head-of-team">Ihor Kutsenko</h3>
    <div class="wrapper-team">
      <a href="#" class="icon-link">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-linkedin"></use>
        </svg>
      </a>
      <a href="#" class="icon-link">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </li>
  <li class="team-name-list">
    <img src="./images/mark.png" alt="olexandr" width="124" />
    <h3 class="head-of-team">Olexandr Yemelianov</h3>
    <div class="wrapper-team">
      <a href="#" class="icon-link">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-linkedin"></use>
        </svg>
      </a>
      <a href="#" class="icon-link">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </li>
  <li class="team-name-list">
    <img src="./images/mark.png" alt="maksym" width="124" />
    <h3 class="head-of-team">Maksym Halushko</h3>
    <div class="wrapper-team">
      <a href="#" class="icon-link">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-linkedin"></use>
        </svg>
      </a>
      <a href="#" class="icon-link">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </li>
  <li class="team-name-list">
    <img src="./images/mark.png" alt="denis" width="124" />
    <h3 class="head-of-team">Denis Daniv</h3>
    <div class="wrapper-team">
      <a href="#" class="icon-link">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-linkedin"></use>
        </svg>
      </a>
      <a href="#" class="icon-link">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </li>
  <li class="team-name-list">
    <img src="./images/mark.png" alt="svetlana" width="124" />
    <h3 class="head-of-team">Svetlana</h3>
    <div class="wrapper-team">
      <a href="#" class="icon-link">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-linkedin"></use>
        </svg>
      </a>
      <a href="#" class="icon-link">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </li>
  <li class="team-name-list">
    <img src="./images/mark.png" alt="stas" width="124" />
    <h3 class="head-of-team">Stas Pavlenko</h3>
    <div class="wrapper-team">
      <a href="#" class="icon-link">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-linkedin"></use>
        </svg>
      </a>
      <a href="#" class="icon-link">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </li>
  <li class="team-name-list">
    <img src="./images/mark.png" alt="ludmila" width="124" />
    <h3 class="head-of-team">Ludmila Tabachuk</h3>
    <div class="wrapper-team">
      <a href="#" class="icon-link">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-linkedin"></use>
        </svg>
      </a>
      <a href="#" class="icon-link">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </li>
  <li class="team-name-list">
    <img src="./images/mark.png" alt="nikolay" width="124" />
    <h3 class="head-of-team">Nikolay</h3>
    <div class="wrapper-team">
      <a href="#" class="icon-link">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-linkedin"></use>
        </svg>
      </a>
      <a href="#" class="icon-link">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </li>
  <li class="team-name-list">
    <img src="./images/mark.png" alt="dmytro" width="124" />
    <h3 class="head-of-team">Dmytro Liashok</h3>
    <div class="wrapper-team">
      <a href="#" class="icon-link">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-linkedin"></use>
        </svg>
      </a>
      <a href="#" class="icon-link">
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </li>
</ul>
