<!-- <div class="loader-wrap">
  <div class="loader book">
    <figure class="page"></figure>
    <figure class="page"></figure>
    <figure class="page"></figure>
  </div>

  <h1 class="loader-text">Reading</h1>
</div> -->

<div class="loader-wrapper hidden">
  <div class="book">
    <div class="inner">
      <div class="left"></div>
      <div class="middle"></div>
      <div class="right"></div>
    </div>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
