<!-- книги які добавляємо  -->
<section class="shopping section">
  <div class="container">
    <h2 class="title">Shopping <span class="title-span">List</span></h2>
    <div class="">
      <p class="shopping-text">
        This page is empty, add some books and proceed to order.
      </p>
      <img
        class="img-ctack-books"
        src="../../images/empty.png"
        alt="stack of books"
        width="265"
        height="198"
      />
    </div>

    <ul class="shopping__list">
      <li class="shopping-item">
        <img
          class="shopping-book-cover"
          src="../../images/empty.png"
          alt="book cover"
          width="100"
          height="142"
        />
        <div class="shopping-wrap">
          <div class="shopping-trash-wrap">
            <h2 class="shopping-book-title">Book Title</h2>
            <button class="shopping-trash" type="button">
              <svg class="icon-shopping-trash" width="18" height="18">
                <use href="../../images/sprite.svg#icon-trash"></use>
              </svg>
            </button>
          </div>
          <p class="shopping-book-categories">Categoris</p>
          <p class="shopping-book-description text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
            sint, incidunt eum sed laborum rerum sapiente esse repellendus
            veritatis beatae cupiditate sit, magni repudiandae laboriosam quidem
            officiis aut architecto fugit!
          </p>
          <div class="shopping-wrapper">
            <p class="shopping-book-author">Author name</p>

            <ul class="shop-list">
              <li>
                <a href="#">
                  <img src="../../images/amazon.png" alt="" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../../images/books-io.png" alt="" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../../images/bookshop.png" alt="" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
