<!-- книги які добавляємо  -->
<div class="empty visually-hidden">
  <p class="shopping-text">
    This page is empty, add some books and proceed to order.
  </p>
  <picture>
    <source
      srcset="
        ./images/empty/empty-desc.png    1x,
        ./images/empty/empty-desc@2x.png 2x
      "
      media="(min-width: 1440px)"
      type="image/png"
      width="322"
      height="241"
    />
    <source
      srcset="
        ./images/empty/empty-desc.webp    1x,
        ./images/empty/empty-desc@2x.webp 2x
      "
      media="(min-width: 1440px)"
      type="image/webp"
      width="322"
      height="241"
    />
    <source
      srcset="
        ./images/empty/empty-tab.png    1x,
        ./images/empty/empty-tab@2x.png 2x
      "
      media="(min-width: 768px) and (max-width: 1399px)"
      type="image/png"
      width="322"
      height="241"
    />
    <source
      srcset="
        ./images/empty/empty-tab.webp    1x,
        ./images/empty/empty-tab@2x.webp 2x
      "
      media="(min-width: 768px) and (max-width: 1399px)"
      type="image/webp"
      width="322"
      height="241"
    />
    <source
      srcset="
        ./images/empty/empty-mob.png    1x,
        ./images/empty/empty-mob@2x.png 2x
      "
      media="(max-width: 767px)"
      type="image/png"
      width="322"
      height="241"
    />
    <source
      srcset="
        ./images/empty/empty-mob.webp    1x,
        ./images/empty/empty-mob@2x.webp 2x
      "
      media="(max-width: 767px)"
      type="image/webp"
      width="322"
      height="241"
    />
    <img
      class="img-ctack-books"
      src="./images/empty/empty-mob.png"
      alt="stack of books"
      width="265"
      height="198"
      loading="lazy"
    />
  </picture>
</div>

<ul class="shopping__list"></ul>

<div class="pagination-wrap">
  <ul class="pagination-list"></ul>
</div>
