<div data-modal class="backdrop-auth is-hidden">
  <div class="modal-auth">
    <button data-modal-close aria-label="close modal" type="button" class="btn__close">
      <svg class="btn__close-modal">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="form-container">
      <div class="form-inner">
        <form action="#" class="signup" id="formAuth">
          <div class="field">
            <svg class="form__input-icon">
              <use href="./images/sprite.svg#icon-user"></use>
            </svg>
            <input aria-label="Name" type="text" placeholder="Name" id="authName" required />
          </div>
          <div class="field">
            <svg class="form__input-icon">
              <use href="./images/sprite.svg#icon-mail-02"></use>
            </svg>
            <input aria-label="Email" type="text" placeholder="Email" id="authEmail" required />
          </div>
          <div class="field">
            <svg class="form__input-icon">
              <use href="./images/sprite.svg#icon-lock-02"></use>
            </svg>
            <input
              aria-label="password"
              type="password"
              placeholder="Password"
              id="authPassword"
              required
            />
          </div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input aria-label="submit" type="submit" value="Sign up" />
          </div>
        </form>
        <form action="#" class="login" id="formLogin">
          <div class="field">
            <svg class="form__input-icon">
              <use href="./images/sprite.svg#icon-mail-02"></use>
            </svg>
            <input aria-label="Email" type="text" placeholder="Email" id="loginEmail" required />
          </div>
          <div class="field">
            <svg class="form__input-icon">
              <use href="./images/sprite.svg#icon-lock-02"></use>
            </svg>
            <input
              aria-label="password"
              type="password"
              placeholder="Password"
              id="loginPassword"
              required
            />
          </div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <input aria-label="submit button" type="submit" value="Sign in" />
          </div>
        </form>
      </div>
    </div>
    <div class="slide-controls">
      <input aria-label="slide" type="radio" name="slide" id="login" />
      <input aria-label="slide" type="radio" name="slide" id="signup" checked />
      <label for="signup" class="slide signup">Sign up</label>
      <label for="login" class="slide login">Sign in</label>
      <div class="slider-tab"></div>
    </div>
  </div>
</div>
