<!-- модальне вікно коли ми відкриваємо 1 книгу -->
<div class="backdrop-js visually-hidden">
    <button type="button" class="modal-close" aria-label="Close">
      <svg class="close-button__icon" width="24" height="24">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <img class="sample" src="" alt="" />
    <div class="modal-content">
      <h2 class="modal-content-title"></h2>
      <h3 class="modal-content-subtitle"></h3>
      <p class="modal-content__primary-text"></p>
      <div class="modal-links" id="modal-links"></div>
        <a class="store-link" href="" target="_blank">
          <img src="/src/images/amazon.png" alt="amazon" width="33">
        </a>
        <a class="store-link" href="" target="_blank">
          <img src="/src/images/books-io.png" alt="books-io" width="32">
        </a>
        <a class="store-link" href="" target="_blank">
          <img src="/src/images/bookshop.png" alt="bookshop" width="33">
        </a>

    </div>
    <div class="modal-content__container-btn">
      <button type="button" class="btn btn--current">Add to shopping list</button>
      <div class="info-text"></div>
      <p class="modal-content__info-text visually-hidden">Remove from the shopping list</p>
    </div>
  </div>

