<div class="backdrop-auth-out" data-backdrop-out>
  <div class="modal-auth-out">
    <button data-btn-out-close type="button" class="btn__close">
      <svg class="btn__close-modal">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <p class="text-auth-out">
      Are you sure you want to leave our wonderful app?
    </p>

    <div class="btn-auth-out">
      <button data-btn-out-yes type="button" class="btn">Yes</button>
      <button data-btn-out-no type="button" class="btn">No</button>
    </div>
    <div class="messagetext" id="messageText"></div>
  </div>
</div>
