<div class="mobile-bg-wrapper">
  <picture class="mobile-bg primary">
    <source
      srcset="./images/mobileMenu_BG/mobile-menu-bg-2x.webp"
      type="image/webp"
    />
    <source
      srcset="./images/mobileMenu_BG/mobile-menu-bg-2x.png"
      type="image/png"
    />

    <img
      src="./images/mobileMenu_BG/mobile-menu-bg-2x.png"
      alt="books"
      style="width: 100%"
    />
  </picture>

  <picture class="mobile-bg secondary">
    <source
      srcset="./images/mobileMenu_BG/mobile-menu-bg-2x.webp"
      type="image/webp"
    />
    <source
      srcset="./images/mobileMenu_BG/mobile-menu-bg-2x.png"
      type="image/png"
    />

    <img
      src="./images/mobileMenu_BG/mobile-menu-bg-2x.png"
      alt="books"
      style="width: 100%"
    />
  </picture>
</div>
