<div class="mob-menu-start is-hidden">
  <div class="menu-user-bar">
    <div class="menu-user-bar-foto">
      <svg class="menu-user-bar-icon" width="19" height="19">
        <use href="./images/svg-sprite-den.svg#user-default-icon"></use>
      </svg>
    </div>
    <p>Stephen</p>
  </div>
  <button data-modal-auth-open class="menu-btn-start" type="button">
    Sign up
    <svg class="menu-btn-start-icon" width="20" height="20">
      <use href="./images/svg-sprite-den.svg#arrow-right-icon"></use>
    </svg>
  </button>
  <nav class="mob-menu-nav">
    <ul class="mob-menu-list-nav">
      <li class="mob-menu-item-nav">
        <a class="mob-menu-link-nav current" href="./index.html">HOME</a>
      </li>
      <li class="mob-menu-item-nav">
        <a class="mob-menu-link-nav" href="./shopping-list.html"
          >SHOPPING LIST<svg class="header-link-icon" width="20" height="20">
            <use href="./images/svg-sprite-den.svg#bag"></use></svg
        ></a>
      </li>
    </ul>
  </nav>
  <button class="menu-btn-exit" type="button">
    Log out
    <svg class="menu-btn-start-icon" width="20" height="20">
      <use href="./images/svg-sprite-den.svg#arrow-right-icon"></use>
    </svg>
  </button>
</div>
