<div class="container header-container">
  <nav class="header-nav">
    <a class="header-logo" href="./index.html">
      <svg class="header-logo-icon" width="24" height="24">
        <use href="./images/svg-sprite-den.svg#booklogo-icon"></use>
      </svg>
      <svg class="header-logo-icon-exergue" width="77" height="14">
        <use href="./images/symbol-defs.svg#icon-Bookshelf"></use>
      </svg>
    </a>
    <ul class="header-list-nav is-hidden">
      <li>
        <a class="header-link-nav" href="./index.html">HOME</a>
      </li>
      <li>
        <a class="header-link-nav current" href="./shopping-list.html"
          >SHOPPING LIST<svg class="header-link-icon" width="20" height="20">
            <use href="./images/svg-sprite-den.svg#bag"></use></svg
        ></a>
      </li>
    </ul>
  </nav>
  <div class="header-buttons">
    <label id="switch" class="switch">
      <input aria-label="slider" type="checkbox" id="slider" />
      <span class="slider round"></span>
    </label>
    <button  aria-label="menu" class="burger" type="button">
      <svg class="header-menu-icon-mob" width="28" height="28">
        <use href="./images/svg-sprite-den.svg#ham-menu-icon"></use>
      </svg>
    </button>
    <button class="header-btn-close" type="button">
      <svg class="header-close-icon-mob" width="28" height="28">
        <use href="./images/svg-sprite-den.svg#x-close-icon"></use>
      </svg>
    </button>
    <div class="header-btn-user-wrap">
      <!-- <button class="header-btn-user is-hidden" type="button">
        <div class="btn-container">
          <div class="header-btn-user-foto">
            <svg class="header-btn-user-icon" width="19" height="19">
              <use href="./images/svg-sprite-den.svg#user-default-icon"></use>
            </svg>
          </div>
          <p class="user-name-tablet-desktop">welcome</p>
          <svg class="header-btn-down-icon" width="23" height="26">
            <use href="./images/svg-sprite-den.svg#user-arrow-down-icon"></use>
          </svg>
        </div>
      </button> -->

        <!-- <button class="header-menu-btn-exit" type="button">
          Log out
          <svg class="menu-btn-start-icon" width="20" height="20">
            <use href="./images/svg-sprite-den.svg#arrow-right-icon"></use>
          </svg>
        </button> -->

    </div>
    <!-- <button class="menu-btn-start-tab" type="button">
      Sign up
      <svg class="menu-btn-start-icon" width="20" height="20">
        <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </button> -->
  </div>
</div>
