<!-- Header -->
<header class="header">
  <!-- Menu -->
  <div class="header-wrapper">
    <div class="container header-container">
      <nav class="header-nav">
        <a class="header-logo" href="./index.html">
          <svg class="header-logo-icon" width="24" height="24">
            <use href="./images/symbol-defs.svg#icon-logo"></use>
          </svg>
          <svg class="header-logo-icon-exergue" width="77" height="14">
            <use href="./images/symbol-defs.svg#icon-Bookshelf"></use>
          </svg>
        </a>
        <ul class="header-list-nav">
          <li>
            <a class="header-link-nav current" href="./index.html">HOME</a>
          </li>
          <li>
            <a class="header-link-nav" href="./shopping-list.html"
              >SHOPPING LIST<svg
                class="header-link-icon"
                width="20"
                height="20"
              >
                <use href="./images/symbol-defs.svg#icon-basket"></use></svg
            ></a>
          </li>
        </ul>
      </nav>
      <div class="header-buttons">
        <label id="switch" class="switch">
          <input type="checkbox" id="slider" />
          <span class="slider round"></span>
        </label>
        <!-- <button class="switcher" type="button">
          <svg class="header-switcher" width="40" height="24">
            <use href="#"></use>
          </svg>
        </button> -->
        <button class="burger" type="button">
          <svg class="header-menu-icon-mob" width="28" height="28">
            <use href="./images/symbol-defs.svg#icon-burger-menu"></use>
          </svg>
        </button>
        <button class="header-btn-close" type="button">
          <svg class="header-close-icon-mob" width="28" height="28">
            <use href="./images/symbol-defs.svg#icon-close"></use>
          </svg>
        </button>
        <button class="header-btn-user" type="button">
          <svg class="header-btn-user-icon" width="37" height="37">
            <use href="#"></use>
          </svg>
        </button>
        <!-- <button class="menu-btn-start" type="button">
          Sign up
          <svg class="menu-btn-start-icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button> -->
      </div>
    </div>
    <div class="mob-menu-start">
      <button class="menu-btn-start" type="button">
        Sign up
        <svg class="menu-btn-start-icon" width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
