.bestseller-category {
  display: flex;
  flex-direction: column;
}

.category-blocks-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.content-categories-title{
  color: var(--second-text-color);

  font-style: normal;
  /* line-height: 24px;
  letter-spacing: 0.42px; */
  text-transform: uppercase;
  margin-bottom: 18px;
}

.see-more-btn {
  margin: 20px 0 0 auto;
  margin-left: auto;
}

.content-categories{
  display: flex;
  flex-direction: column;
}
