/* .card-book{
    width: 180px;
} */

.books-grid{
    display: flex; 
    flex-wrap: wrap;
    gap: 24px;
}


.card-book{
    width: 180px;

}

.card-book img {
    width: 180px;
    height: 256px;
    border-radius: 8px;
    margin-bottom: 14px;
}

.card-book-notification{
    display: none;
}

/* стилі для показу  1-3-5 книг з категорії */

@media screen and (max-width: 1279px) {
    .books-grid-item :nth-child(n+4) {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .books-grid-item :nth-child(n+2) {
        display: none;
    }
}




