/* .card-book{
    width: 180px;
} */

.books-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.card-book{
    width: 180px;

}

.card-book img {
    width: 180px;
    height: 256px;
    border-radius: 8px;
    margin-bottom: 14px;
}

.card-book-notification{
    display: none;
}

