.categories {
  height: 228px;
  width: 100%;
  margin-bottom: 40px;
}

.categories_list {
  max-height: 228px;
  overflow: scroll;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.filter-item {
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  transition: all ease-in-out 160ms;
  color: var(--light-font-color);
  cursor: pointer;
}
.filter-item:hover,
.filter-item:focus {
  transform: scale(1.05) translateX(10px);
  color: var(--accent-color-filter);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .categories {
    width: 337px;
    height: 472px;
  }
  .categories_list {
    max-height: 472px;
  }

  .categories_list::-webkit-scrollbar {
    width: 8px;
  }

  .categories_list::-webkit-scrollbar-thumb {
    width: 8px;
    height: 114px;
    border-radius: 12px;
    border: 12px solid #e0e0e0;
  }
  .filter-item {
    color: var(--light-font-color);
    font-size: 18px;
    line-height: 1.33;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .categories {
    width: 100%;
    margin-bottom: 86px;
  }
  .catigories_item-active {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--accent-color);
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.02em;
  }
}
.filter-item-is-Active {
  transform: scale(1.05) translateX(10px);
  color: var(--accent-color-filter);
  text-transform: uppercase;
}