.footer {
  position: sticky;
  width: 100%;
  left: 0;
  bottom: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 36px 20px 47px;
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  
  background-color: var(--main-bgr-color);
  color: var(--second-text-color);
  
  }

    .footer-text {
      font-size: 14px;
  
    }

  

  .footer__heart-goit {
    width: 14px;
    height: 14px;
    width: 14px;
    fill: #ff6b08;
    animation: heartpulse 1.5s infinite ease-in-out;
  }

    .footer-btn {
      background-color: var(--theme-bg);
      border: none;
      padding: 0;
      cursor: pointer;
    }
  
    .footer-btn-text {
      font-size: 16px;
      color: #ff6b0a;
      text-decoration: underline;
    }
  
    .footer-btn:hover .footer-btn-text {
      color: #eb3d3d;
    }
  
   


 


@keyframes heartpulse {
  0% {
    transform: scale(1);
    fill: #ff6b08;
  }

  10% {
    transform: scale(1.4);
    fill: #ff001b;
    filter: drop-shadow(0px 0px 10px #ff6b08);
  }

  50% {
    transform: scale(1);
    fill: #ff6b08;
  }

  100% {
    transform: scale(1.2);
    fill: #ff001b;
  }
}




/* tablet  */

@media screen and (min-width: 768px) {
  .foter{
     flex-wrap: nowrap;
  justify-content: center;
  font-size: 14px;
  line-height: 1.18;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 20px 390px 20px 408px;
      font-size: 16px;
  }
}