.footer-backdrop {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
  /* scale: 1; */
  visibility: visible;
  transition: opacity 250ms linear,
    scale 250ms linear,
    visibility 250ms linear;
}

.footer-backdrop.is-open {
  opacity: 0;
  /* visibility: visible; */
  visibility: hidden;
    /* scale: 0.9; */
    pointer-events: none;
}
.footer-modal.is-open{
  transform: translate(-50%, 50%);
  transition: transform 500ms linear;
}
.footer-modal {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 500ms linear;
  z-index: 101;
  padding: 20px;
  border-radius: 10px;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
  text-align: center;
  overflow-y: auto;
  font-weight: 500;
  font-size: 20px;
  width: 100%;
  height: 100%;
  
}



.footer-modal-close-btn {
  position: absolute;
  top: 8px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgb(210, 202, 253);
  background-color: white;
  cursor: pointer;
  padding: 0;
  transition: border-color 250ms linear;
}

.footer-modal-close-btn__icon {
  stroke: rgba(79, 46, 232, 1);
}
.footer-modal-index-close-btn__icon {
  stroke: rgba(79, 46, 232, 1);
}

.head-team-modal {
  text-align: center;
  margin-bottom: 10px;
  color: rgb(210, 202, 253);
}
.team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.team > .container {
  max-width: 296px;
}
.team-list {
  gap: 24px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-list .team-name-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgb(210, 202, 253);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 15px;
  text-align: center;
  width: 100%;
  /* width: calc((100% - 24px) / 7);*/
  padding-top: 10px;
  padding-bottom: 10px;
}
.team-list img {
  margin-bottom: 12px;
  border-radius: 50px;
  display: inline;
}
.team-sours-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.mob-sours-list {
  gap: 30px;
  justify-content: start;
}
.team-sours-item {
  width: 40px;
  height: 40px;
}

.head-of-team {
  margin: 0;
  margin-bottom: 10px;
}
.button-icon {
  gap: 10px;
}
.wrapper-team {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

@media screen and (min-width: 768px) {
  .team-list .team-name-list {
    width: calc((100% - 24px) / 4);
  }
  .team-list {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .team-list {
    align-items: stretch;
  }
  .team-list .team-name-list {
    width: calc((100% - 24px) / 7);
  }
}
