body {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  color: var(--title-color);
  background-color: var(--main-bgr-color);
}

.btn {
  color: var(--title-color);
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  padding: 14px 28px;
  border-radius: 40px;
  border: 2px solid var(--accent-color);
  cursor: pointer;

  transition: background-color var(--transition), color var(--transition);
}

.btn:is(:hover, :focus) {
  color: #fff;
  background-color: var(--accent-color);
}

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 40px;
}

.title {
  color: var(--title-color);
  font-weight: 700;
  margin-bottom: 40px;
}

.title-span {
  color: var(--accent-color);
}

.text {
  line-height: 1.29;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
  }
  .section-modal {
    padding: 40px 40px;
  }
  .title {
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: -1.28px;
  }
}

@media screen and (min-width: 768px) {
  .bigger-btn {
    width: 100%;
    font-size: 18px;
    padding: 20px 28px;
    line-height: 1.33;
    letter-spacing: -0.18px;

    height: 64px;
  }

  .container {
    width: 768px;
    padding: 0 32px;
  }
  .section-modal {
    padding: 40px 24px;
  }

  .title {
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 24px;
  }
}

.visually-hidden{
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section{
  padding: 40px 0;
}