body {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: var(--title-color);
  background-color: var(--main-bgr-color);
}

.container {
  margin: 0 auto;
}

.section {
  padding-top: 40px;
}

.title {
  color: var(--title-color);
  font-weight: 700;
}
.title-span {
  color: var(--accent-color);
}

.btn {
  color: var(--title-color);
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  padding: 14px 28px;
  border-radius: 40px;
  border: 2px solid var(--accent-color);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
  }
  .section-modal {
    padding: 40px 40px;
  }
  .title {
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: -1.28px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .section-modal {
    padding: 40px 24px;
  }

  .title {
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 24px;
  }
}
