.no-scroll {
  overflow: hidden;
}

.header {
  /* position: relative;
  margin-left: auto;
  margin-right: auto; */
  /* max-width: 375px; */
  /* border: 2px solid var(--title-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; */
}

.header-wrapper {
  position: relative;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: var(--white-color);
  border: 2px solid var(--title-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.header-container {
  position: relative;
  z-index: 1;
}

.header-logo {
  display: flex;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header-logo-icon {
  background-color: blue;
}

.header-list-nav {
  display: none;
}

.header-btn-close,
.burger {
  width: 28px;
  height: 28px;
  padding: 0;
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.header-close-icon-mob,
.header-menu-icon-mob {
  stroke: black;
}

.header-btn-close {
  display: none;
}

.header-btn-user {
  display: none;
}

/* =================== Switcher =============== */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: 1px 1px 2px 0px #0000001a inset;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 1px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 2px 4px 0px #0000001a;
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: 1px 1px 2px 0px #0000001a inset;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 2px 4px 0px #0000001a;
  background-repeat: no-repeat;
  background-position: center;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ============== Mob Menu  ================== */

.mob-menu-start {
  position: absolute;
  left: 0;
  top: 61px;
  z-index: 1;
  width: 100%;
  height: 100vh;
  padding: 45px 20px;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );

  display: none;
}

.menu-btn-start {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  width: 184px;
  padding: 14px;
  font-weight: 500;
  color: var(--white-color);
  border: 2px solid var(--title-color);
  border-radius: 18px;
  background-color: var(--accent-color);
}

.menu-btn-start-icon {
  stroke: var(--accent-header-color);
}

/* ================= Media ===================== */

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 768px) {
  .header-wrapper {
    max-width: 768px;
  }

  .header-container {
    padding-top: 14px;
    padding-bottom: 13px;
  }

  .header-nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-list-nav {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .header-link-nav {
    padding: 8px 16px 8px 16px;
    border-radius: 36px;

    font-weight: 500;
    color: var(--title-color);
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .header-link-nav:is(:hover, :focus, .current) {
    font-weight: 700;
    background-color: var(--accent-header-color);
  }

  .burger {
    display: none;
  }

  .header-btn-user {
    display: block;
    width: 184px;
    height: 45px;
    border-radius: 36px;
    border: none;
    background-color: var(--accent-color);
  }
}

@media screen and (min-width: 1440px) {
  .header-wrapper {
    max-width: 1440px;
  }

  .header-nav {
    gap: 76px;
  }

  .header-list-nav {
    gap: 24px;
  }
}

/* ============================================ */

.header-btn-close.hidden {
  display: none;
}

@media screen and (max-width: 767px) {
  .mob-menu-start.open {
    display: block;
  }

  .header-container.open {
    position: absolute;
    z-index: 2;
  }

  .body.no-scroll.open {
    overflow: hidden;
  }

  .burger.open {
    display: none;
  }

  .header-btn-close.open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }

  .header-btn-close {
    display: none;
  }

  .header-container.open {
    position: relative;
    z-index: initial;
  }

  .body.no-scroll.open {
    overflow: initial;
  }
}
