header {
  color: brown;
  /* position: fixed;
    top: 0;
    left: 0;
    right: 0; */
  display: flex;
    align-items: center;
    
    margin-left: auto;
      margin-right: auto;
      height: 64px;
.container {
          display: flex;
          justify-content: center;
          align-items: center;
      
          
        }
      }


.logo-header {
  display: flex;
  align-items: center;
  height: 28px;
  gap: 8px;
  margin-right: 93px;
}

.page-navigation-link {
  display: flex;
  
  align-items: center;
  padding: 8px 16px;
}

.navigation-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mobile-menu {
  position: fixed;
  top: 80px;
  width: 100%;
  height: calc(100vh - 64px);
  
  top: 64px;
  left: 0;
  

 
}

.mobile-menu-open {
  background-color: grey;
  border: none;

  
}

.mobile-menu-open__icon {
  stroke: white;
}