.no-scroll {
  overflow: hidden;
}

/* .header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
  border: 2px solid var(--title-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
} */

.header {
  position: relative;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: var(--header-white-color);
  border: 2px solid var(--title-color);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* .header-container {
  position: relative;
  z-index: 1;
} */

.header-buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-logo-icon-exergue {
  fill: var(--title-color);
}

.header-list-nav {
  display: none;
}

.header-btn-close,
.burger {
  width: 28px;
  height: 28px;
  padding: 0;
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.header-close-icon-mob,
.header-menu-icon-mob {
  stroke: var(--title-color);
  transition: fill var(--transition);
}

.header-close-icon-mob:hover {
  stroke: var(--accent-color);
}

.header-menu-icon-mob:hover {
  stroke: var(--accent-color);
}

.header-btn-close {
  display: none;
}

/* .header-btn-close.hidden {
  display: none;
} */

.header-btn-user {
  display: none;
}

/* =================== Switcher =============== */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: 1px 1px 2px 0px #0000001a inset;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 1px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 2px 4px 0px #0000001a;
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: 1px 1px 2px 0px #0000001a inset;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 2px 4px 0px #0000001a;
  background-repeat: no-repeat;
  background-position: center;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ============== Mob Menu  ================== */

.mob-menu-start {
  position: absolute;
  left: 0;
  top: 61px;
  z-index: 1;
  width: 100%;
  height: 92vh;
  padding: 25px 20px 20px 20px;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  transition: transform var(--transition);
  display: none;
}

.menu-user-bar {
  display: flex;
  align-items: center;
  gap: 9px;
  font-size: 22px;
  font-weight: 500;
  color: var(--white-color);
  margin-bottom: 10px;
}

.menu-user-bar-foto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  background-color: var(--font-card-color);
  fill: var(--accent-color);
  margin-right: 9px;
}

.menu-btn-start {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  width: 184px;
  padding: 14px;
  font-weight: 500;
  color: var(--white-color);
  border: 2px solid var(--title-color);
  border-radius: 18px;
  background-color: var(--accent-color);
}

.menu-btn-start-icon {
  stroke: var(--accent-header-color);
}

.mob-menu-nav {
  margin-top: 126px;
  max-width: 160px;
  margin-left: auto;
  margin-right: auto;
}

.mob-menu-list-nav {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.mob-menu-item-nav {
  display: flex;
}

.mob-menu-item-nav:is(:hover, :focus, .current) {
  /* font-weight: 700;
  color: var(--header-title-color);
  fill: var(--header-title-color);
  background-color: var(--accent-header-color); */
}

.mob-menu-link-nav {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 16px 8px 16px;
  border-radius: 36px;
  font-weight: 500;
  color: var(--white-color);
  fill: var(--white-color);
}

.mob-menu-link-nav:is(:hover, :focus, .current) {
  font-weight: 700;
  color: var(--header-title-color);
  fill: var(--header-title-color);
  background-color: var(--accent-header-color);
  transform: translateX(16px);
  transition: transform var(--transition);
}

.menu-btn-exit {
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 14px 24px;
  font-weight: 500;
  border-radius: 18px;
  border: 2px solid var(--header-title-color);
}

/* ================= Media ===================== */

@media screen and (max-width: 767px) {
  .mob-menu-start.open {
    display: block;
  }

  .header-container.open {
    position: relative;
    z-index: 2;
  }

  /* .body.no-scroll.open {
    overflow: hidden;
  } */

  .burger.open {
    display: none;
  }

  .header-btn-close.open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .header-btn-close {
    display: none;
  }

  /* .header-container.open {
    position: relative;
    z-index: initial;
  } */

  /* .body.no-scroll.open {
    overflow: initial;
  } */

  .header {
    max-width: 768px;
  }

  .header-container {
    padding-top: 14px;
    padding-bottom: 13px;
  }

  .header-nav {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-list-nav {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .header-link-nav {
    padding: 8px 16px 8px 16px;
    border-radius: 36px;
    font-weight: 500;
    color: var(--title-color);
    fill: var(--title-color);
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .header-link-nav:is(:hover, :focus, .current) {
    font-weight: 700;
    color: var(--header-title-color);
    fill: var(--header-title-color);
    background-color: var(--accent-header-color);
  }

  .burger {
    display: none;
  }

  .header-btn-user {
    display: block;
    padding: 4px 12px;
    width: 184px;
    height: 45px;
    border-radius: 36px;
    border: none;
    background-color: var(--accent-color);
  }

  .btn-container {
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-size: 22px;
    font-weight: bold;
  }

  .header-btn-user-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    width: 37px;
    border-radius: 50%;
    background-color: var(--font-card-color);
    margin-right: 9px;
  }

  .header-btn-user-icon {
    fill: var(--accent-color);
  }

  .header-btn-down-icon {
    margin-left: 4px;
    fill: var(--white-color);
  }
}

@media screen and (min-width: 1440px) {
  .header {
    max-width: 1440px;
  }

  .header-nav {
    gap: 76px;
  }

  .header-list-nav {
    gap: 24px;
  }
}
