/* .category-books-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;

 
}

.books-list-item {
  gap: 25px;
} */



@media screen and (min-width: 1280px) {
  .page-container {
      display: flex;
    }
}