.backdrop-auth-out {
  position: fixed;
  z-index: 3;
  opacity: 1;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow-y: hidden;
  background-color: rgba(17, 17, 17, 0.4);

  transition: opacity var(--transition);
}

.backdrop-auth-out.is-hidden {
  opacity: 0;
}

.modal-auth-out {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 335px;

  padding: 40px 20px;
  overflow: hidden;

  text-align: center;
  background: linear-gradient(
    325deg,
    hsl(251deg 80% 55%) 68%,
    hsl(231deg 72% 63%) 99%,
    hsl(211deg 63% 70%) 101%,
    hsl(191deg 55% 78%) 101%,
    hsl(171deg 46% 86%) 100%
  );
  border-radius: 18px;
  border: 2px solid var(--border-color);
}
@media screen and (min-width: 768px) {
  .modal-auth-out {
    padding: 80px 40px 40px 40px;
    width: 579px;
  }
}

.modal-auth-out .btn__close {
  color: var(--white-color);
}

.modal-auth-out .btn__close:hover,
.modal-auth-out .btn__close:focus {
  transform: scale(1.3);
  color: var(--accent-header-color);
}

.btn-auth-out {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .btn-auth-out {
    margin-bottom: 28px;
  }
}

.btn-auth-out .btn {
  color: var(--header-title-color);
  background-color: #f6f6f6;

  transition: background-color var(--transition), color var(--transition);
}

.btn-auth-out .btn:is(:hover, :focus) {
  color: var(--header-title-color);
  background-color: var(--accent-header-color);
}

.btn-auth-out .btn:not(:last-child) {
  margin-right: 15px;
}
@media screen and (min-width: 768px) {
  .btn-auth-out .btn:not(:last-child) {
    margin-right: 20px;
  }
}

.text-auth-out {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.16px;
  text-transform: uppercase;

  color: var(--white-color);

  transition: all var(--transition);
}
@media screen and (min-width: 768px) {
  .text-auth-out {
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: -0.18px;
  }
}
