.pagination-wrap {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.nav-pagination-btn {
  display: flex;
  gap: 10px;
}
.pagination-list {
  display: flex;
  gap: 10px;
}

.pagination-btn,
.pagination-btn-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--header-white-color);
  border-radius: 50%;
  color: var(--title-color);
  border: 1px solid var(--title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.22;
}
.more-btn-pagination {
  min-width: 44px;
}
.pagination-btn-left > .pagination-btn-nav {
  background-color: var(--arrow-right-color);
}
.pagination-btn-right .pagination-btn-nav {
  background-color: var(--accent-header-color);
}

.pagination-btn-left .icon-arrow {
  transform: rotate(270deg);
  stroke: var(--second-text-color);
  fill: var(--second-text-color);
}

.pagination-btn-right .icon-arrow {
  transform: rotate(90deg);
  stroke: var(--arrow-right-color);
  fill: var(--arrow-right-color);
}
.current-btn-pagination {
  background-color: var(--title-color);
  color: var(--header-white-color);
}

@media screen and (max-width: 767px) {
  .pagination-btn,
  .pagination-btn-nav {
    width: 38px;
    height: 38px;
  }
  .more-btn-pagination {
    min-width: 38px;
  }

  .pagination-wrap {
    padding: 20px 5px;
    gap: 8px;
  }
  .nav-pagination-btn {
    gap: 8px;
  }
  .pagination-list {
    gap: 8px;
  }
}

@media screen and (max-width: 365px) {
  .pagination-btn,
  .pagination-btn-nav {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
  .more-btn-pagination {
    min-width: 30px;
  }
}
