.pagination-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.pagination-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: blueviolet;
  border-radius: 50%;
}

.curent-btn-pagination {
  background-color: aqua;
}
