.backdrop-pop-up {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.4);

  opacity: 1;
  cursor: pointer;
  z-index: 20;
  padding: 94px 15px;
}

.backdrop-pop-up.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-pop-up {
  z-index: 30;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);

  padding: 40px 24px;

  min-width: 335px;

  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  color: var(--text-color);
  background-color: var(--white-color);
  border: 2px solid var(--title-color);
  border-radius: 18px;
}

.close-button {
  background-color: transparent;
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  border: none;
  border-radius: 50%;
}

.close-button__icon {
  fill: var(--title-color);
}

.close-button__icon:focus,
.close-button__icon:hover {
  fill: var(--accent-header-color);
}

.modal-book-attributes {
  display: flex;
  flex-direction: column;
}

.modal-img {
  max-width: 287px;
  min-height: 408px;
  border-radius: 8px;
  margin-bottom: 14px;
  border: none;
}

.modal-book-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
}

.modal-book-author {
  margin-bottom: 18px;
  font-style: italic;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

.modal-book-desc {
  margin-bottom: 14px;
  color: var(--title-color);

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

.modal-shops {
  display: flex;
  align-items: center;

  gap: 20px;
  margin-bottom: 40px;
}

.modal-shop-img {
  filter: grayscale(100%);
  mix-blend-mode: luminosity;
  transition: transform 200ms, filter 200ms;
}

.modal-shop-img:hover,
.modal-shop-img:focus {
  mix-blend-mode: normal;
  transform: scale(1.1);
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.7));
}

.amazon {
  filter: grayscale(100%);
}

.amazon:hover,
.amazon:focus {
  filter: grayscale(0%);
}

.book-shop {
  filter: none;
}

.book-shop:hover,
.book-shop:focus {
  filter: invert(10%);
}

.modal-pop-up-btn {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 14px 20px;
  min-width: 210px;
  height: 46px;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
}

.modal-message {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  max-width: 242px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) {
  .modal-pop-up {
    max-width: 579px;
    min-height: 465px;
    padding: 40px;
  }
  .close-button {
    top: 24px;
    right: 24px;

    width: 28px;
    height: 28px;
  }

  .close-button__icon {
    width: 21px;
    height: 21px;
  }

  .modal-pop-up-content {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }
  .modal-img {
    max-width: 192px;
    min-height: 281px;
  }

  .modal-book-title {
    font-size: 24px;
    line-height: 1.17;

    max-width: 270px;
  }
  .modal-book-author {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.29;
  }

  .modal-book-desc {
    margin-bottom: 20px;
  }

  .modal-shops {
    margin-bottom: 0;
  }

  .modal-pop-up-btn {
    padding: 20px 0;
    min-width: 499px;
    font-size: 18px;
    line-height: 1.33;
  }

  .modal-message {
    max-width: 324px;
    font-size: 12px;
    line-height: 1.17;
  }
}
