/* стилі щоб бачити що є копка - переробити/доробити */

.to-top-target {
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

/*.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: 1;

  height: 54px;
  width: 54px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: blue;
  border: 5px solid transparent;
  border-radius: 50%;
}
*/
.button-icon--arrow {
  fill: #fff;
  transition: fill 500ms ease-in-out;
}
.button-icon--arrow:hover,
.button-icon--arrow:active {
  transform: translateX(-1px) translateY(1px);
}
.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: rgba(79, 46, 232, 1);
  outline: 10px solid rgba(79, 46, 232, 0.3);
  cursor: pointer;
  transition: fill 250ms ease-in-out;
}
.to-top:hover,
.to-top:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(79, 46, 232, 1);
  }
}
.is-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
