.shopping__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.shop-list img {
  filter: hue-rotate(200deg);
}
.shop-link:is(:hover, :focus) .shop-img {
  filter: hue-rotate(80deg);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}
.shop-page .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.shopping-wrap {
  height: 142px;
  display: flex;
  flex-direction: column;
}
.shopping-text {
  margin: 0 auto;
  text-align: center;
  max-width: 244px;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.56px;
}

.img-ctack-books {
  display: block;
  margin: 0 auto;
}

.shopping-item {
  position: relative;
  padding: 14px;
  display: flex;
  gap: 14px;
  align-items: flex-start;
  padding: 14px;
  border-radius: 16px;
  background-color: var(--main-bgr-color);
  border: 2px solid var(--border-color);
}
.shop-list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
}

.shopping-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.shopping-trash {
  position: absolute;
  right: 14px;
  top: 14px;
  width: 38px;
  height: 38px;
  padding: 8px;
  background-color: var(--accent-color);
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-shopping-trash {
  stroke: var(--white-color);
  fill: transparent;
}

.shopping-book-cover {
  width: 100px;
  height: 142px;
  background-color: var(--accent-header-color);
}

.shopping-book-title {
  max-width: 144px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-transform: uppercase;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shopping-book-categories {
  max-width: 144px;
  color: var(--second-text-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.36px;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.shopping-book-description {
  max-height: 68px;
  overflow: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.56px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.shopping-book-author {
  color: var(--second-text-color);
  font-size: 12px;
  font-style: italic;
  line-height: 1.67;
  letter-spacing: -0.48px;
}

@media screen and (max-width: 767px) {
  .shopping-title {
    margin-bottom: 120px;
  }
}

@media screen and (min-width: 768px) {
  .shopping-title {
    margin-bottom: 140px;
  }
  .shopping-text {
    max-width: 349px;
    margin-bottom: 20px;
  }
  .img-ctack-books {
    width: 322px;
    height: 240px;
  }
  .shopping-wrap {
    height: 165px;
  }
  .shop-item {
    gap: 16px;
  }

  .shopping-book-title {
    max-width: 450px;
  }
  .icon-shop-1 {
    width: 48px;
    height: 15px;
  }
  .icon-shop-2 {
    width: 28px;
    height: 27px;
  }
  .icon-shop-3 {
    width: 32px;
    height: 30px;
  }
  .shopping-item {
    padding: 24px;
    gap: 24px;
  }
  .shopping-book-cover {
    width: 116px;
    height: 165px;
  }
  .shop-list {
    gap: 19px;
  }
  .shopping-trash {
    position: absolute;
    right: 24px;
    top: 24px;
  }
  .shopping-book-categories {
    margin-bottom: 14px;
  }
  .shopping-book-description {
    max-height: 53px;
  }
}

@media screen and (min-width: 1440px) {
  .shopping-book-title {
    max-width: 750px;
  }
  .shopping-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
  .shop-wrap {
    flex-grow: 1;
  }

  .empty {
    height: 409px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
