/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./general.css');
@import url(./variables.css);
@import url('./reset.css');
@import url('./header.css');
@import url('./categories-menu.css');
@import url('./support.css');
@import url('./home-content.css');
@import url('./bestsellers.css');
@import url('./scrollbtn.css');
@import url('./card-book.css');
@import url('./shoping-list.css');


@import url('./loader.css');



/* стандартні стилі зі збірника, не наші */
/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
